.popup {
  display: none;
  position: fixed;

  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 478px;
  height: 442px;
  background-color: #f8f7f4;
  color: #333333;
  padding: 18px 24px;
  border-radius: 9px;
  box-sizing: border-box;
  z-index: 40;
}

.popup__cross-button {
  display: block;
  position: absolute;
  width: 18px;
  height: 17px;

  top: 15px;
  right: 15px;

  background: url("../img/cross_button.png") no-repeat;
  cursor: pointer;
}

.popup__container {
  border: 0;
  margin: 0;
  padding: 0;
}

.popup__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.popup__input {
  width: 267px;
  height: 44px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 14px;
  padding-right: 14px;
}

.popup__message {
  display: block;
  width: 430px;
  height: 155px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 13px;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
}

.popup__submit {
  float: right;
  width: 140px;
  height: 44px;
  margin-top: 25px;
  margin-right: 3px;
 }
