.promo {
  font-size: 0;
  padding-left: 20px;
  margin-top: -18px;
}

.promo__card {
  display: inline-block;
  position: relative;
  width: 420px;
  height: 229px;
  padding: 18px;
  padding-right: 23px;
  margin-right: 20px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 15;

  &--raspberries {
    background-image: url("../img/bg_raspberries.png");
  }

  &--chocolate {
    background-image: url("../img/bg_chocolate.png");
  }
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 23px;
}

.promo__button {
  display: inline-block;
  float: right;
  width: 160px;
  height: 44px;

  &--chocolate {
    width: 184px;
  }
}
